@model HomeViewModel

      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
        @foreach (var item in Model.Slides)
        {
             <div class="swiper-slide">
            <img src="../assets/images/@item.Image" />
            <div class="info_par">
              <h1>@item.Title</h1>
              <p>@item.Desc</p>
                    @if (item.Chooice == "Parfum")
                    {
                    <a asp-controller="parfume" asp-action="index"><button>Etrafli</button></a>
                    }
                    @if(item.Chooice=="Tustu")
                    {
                    <a asp-controller="smoke" asp-action="index"><button>Etrafli</button></a>
                    }
            </div>
          </div> 
        }
        
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
      </div>

       <div class="products">
        <div class="container products_container">
          <h1>Yeni Mehsullar</h1>
          <div class="newproducts">
            <div class="product">
              <img
                src="../assets/images/NewProduct/ProductImage.jpg"
                alt="productImage"
              />
              <div class="new">Yeni</div>
              <p class="def">Our Creation of Vendetta's Ambre Nuit</p>
              <p class="cat">Armani</p>
              <div class="price_star">
                <p class="price">53-100$</p>
                <a><button style="width:80px">Elave et</button></a>
              </div>
            </div>
            <div class="product">
              <img
                src="../assets/images/NewProduct/ProductImage.jpg"
                alt="productImage"
              />
              <div class="new">Yeni</div>

              <p class="def">Our Creation of Vendetta's Ambre Nuit</p>
              <p class="cat">Armani</p>
              <div class="price_star">
                <p class="price">53-100$</p>
                <a><button >Elave et</button></a>
              </div>
            </div>
            <div class="product hidden">
              <img
                src="../assets/images/NewProduct/ProductImage.jpg"
                alt="productImage"
              />
              <div class="new">Yeni</div>

              <p class="def">Our Creation of Vendetta's Ambre Nuit</p>
              <p class="cat">Armani</p>
              <div class="price_star">
                <p class="price">53-100$</p>
                <a><button>Elave et</button></a>
              </div>
            </div>
            <div class="product hide hidden">
              <img
                src="../assets/images/NewProduct/ProductImage.jpg"
                alt="productImage"
              />
              <div class="new">Yeni</div>

              <p class="def">Our Creation of Vendetta's Ambre Nuit</p>
              <p class="cat">Armani</p>
              <div class="price_star">
                <p class="price">53-100$</p>
                <a><button>Elave et</button></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="smeels">
        <div class="container smells_container">
          <h1>Qoxular</h1>
          <div class="newsmeels">
            <div
              class="smell"
              style="
                background-image: url(../assets/images/NewProduct/ProductImage.jpg);
              "
            >
              <h3>Bizim mehsullar</h3>
              <p>Lorem ipsum dolor sit amet,consectetur adipiscing elit.</p>
            </div>
            <div
              class="smell"
              style="
                background-image: url(../assets/images/NewProduct/ProductImage.jpg);
              "
            >
              <h3>Bizim mehsullar</h3>
              <p>Lorem ipsum dolor sit amet,consectetur adipiscing elit.</p>
            </div>
            <div
              class="smell hidden"
              style="
                background-image: url(../assets/images/NewProduct/ProductImage.jpg);
              "
            >
              <h3>Bizim mehsullar</h3>
              <p>Lorem ipsum dolor sit amet,consectetur adipiscing elit.</p>
            </div>
            <div
              class="smell hide hidden"
              style="
                background-image: url(../assets/images/NewProduct/ProductImage.jpg);
              "
            >
              <h3>Bizim mehsullar</h3>
              <p>Lorem ipsum dolor sit amet,consectetur adipiscing elit.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="smokes">
        <div class="container smokes_container">
          <h1>Tustuler</h1>
          <div class="newsmokes">
            <div class="smoke">
              <img src="../assets/images/NewProduct/ProductImage.jpg" />
              <div class="responsive">
                <h3>Agarwoodlar</h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem
                  ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum
                  dolor sit amet consectetur adipisicing elit
                </p>
                <a href="google.com">
                  <img
                    class="button_image"
                    alt="buttonImage"
                    src="../assets/icons/button/buttonsvg.svg"
                  />
                </a>
              </div>
            </div>
            <div class="smoke hidden">
              <img src="../assets/images/NewProduct/ProductImage.jpg" />
              <div class="responsive">
                <h3>Agarwoodlar</h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem
                  ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum
                  dolor sit amet consectetur adipisicing elit
                </p>
                <img
                  class="button_image"
                  alt="buttonImage"
                  src="../assets/icons/button/buttonsvg.svg"
                />
              </div>
            </div>
            <div class="smoke hide">
              <img src="../assets/images/NewProduct/ProductImage.jpg" />
              <div class="responsive">
                <h3>Agarwoodlar</h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem
                  ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum
                  dolor sit amet consectetur adipisicing elit
                </p>
                <img
                  class="button_image"
                  alt="buttonImage"
                  src="../assets/icons/button/buttonsvg.svg"
                />
              </div>
            </div>
          </div>
        </div>
      </div>

       <div class="sellests">
        <div class="container sellests_container">
          <h1>En cox satilanlar</h1>
          <div class="newsellests">
            <div class="sellest">
              <img
                src="../assets/images/NewProduct/ProductImage.jpg"
                alt="productImage"
              />
              <p class="def">Our Creation of Vendetta's Ambre Nuit</p>
              <p class="cat">Armani</p>
              <div class="price_star">
                <p class="price">53-100$</p>
                <a><button style="width:80px">Elave et</button></a>
              </div>
            </div>
            <div class="sellest">
              <img
                src="../assets/images/NewProduct/ProductImage.jpg"
                alt="productImage"
              />
              <p class="def">Our Creation of Vendetta's Ambre Nuit</p>
              <p class="cat">Armani</p>
              <div class="price_star">
                <p class="price">53-100$</p>
                <a><button>Elave et</button></a>
              </div>
            </div>
            <div class="sellest hidden">
              <img
                src="../assets/images/NewProduct/ProductImage.jpg"
                alt="productImage"
              />
              <p class="def">Our Creation of Vendetta's Ambre Nuit</p>
              <p class="cat">Armani</p>
              <div class="price_star">
                <p class="price">53-100$</p>
                <a><button>Elave et</button></a>
              </div>
            </div>
            <div class="sellest hide hidden">
              <img
                src="../assets/images/NewProduct/ProductImage.jpg"
                alt="productImage"
              />
              <p class="def">Our Creation of Vendetta's Ambre Nuit</p>
              <p class="cat">Armani</p>
              <div class="price_star">
                <p class="price">53-100$</p>
                <a><button>Elave et</button></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="giftbox">
        <div class="container giftbox_container">
          <h1>Hediyye Qutusu</h1>
          <div class="giftbox_common">
            <div class="giftbox_left">
              <h1>@Model.SettingHomePage?.TitleGift</h1>
              <p>
              @Model.SettingHomePage?.DescriptionGift
              </p>
              <a asp-action="index" asp-controller="giftBox"
                ><button>
                  Etrafli
                  <img
                    class="button_image"
                    alt="buttonImage"
                    src="../assets/icons/button/buttonsvg.svg"
                  />
                </button>
              </a>
            </div>
            <div class="giftbox_right">
              <a asp-action="index" asp-controller="giftBox" class="hidden">
                <img src="../assets/images/@Model.SettingHomePage?.ImageGift1"
              /></a>
              <a asp-action="index" asp-controller="giftBox" class="hide">
                <img src="../assets/images/@Model.SettingHomePage?.ImageGift2"
              /></a>
            </div>
          </div>
        </div>
      </div>

       <div class="discounts">
        <div class="container discounts_container">
          <h1>Endirim</h1>
          <div class="newdiscounts">
            <div class="discount">
              <img
                src="../assets/images/NewProduct/ProductImage.jpg"
                alt="productImage"
              />
              <div class="dis">20%</div>
              <p class="def">Our Creation of Vendetta's Ambre Nuit</p>
              <p class="cat">Armani</p>
              <div class="price_star">
                <p class="price">53-100$</p>
                <del class="price_discount">153-180$</del>
                <a><button>Elave</button></a>
              </div>
            </div>
            <div class="discount">
              <img
                src="../assets/images/NewProduct/ProductImage.jpg"
                alt="productImage"
              />
              <div class="dis">20%</div>

              <p class="def">Our Creation of Vendetta's Ambre Nuit</p>
              <p class="cat">Armani</p>
              <div class="price_star">
                <p class="price">53-100$</p>
                <del class="price_discount">153-180$</del>
                <a><button>Elave</button></a>
              </div>
            </div>
            <div class="discount hidden">
              <img
                src="../assets/images/NewProduct/ProductImage.jpg"
                alt="productImage"
              />
              <div class="dis">20%</div>

              <p class="def">Our Creation of Vendetta's Ambre Nuit</p>
              <p class="cat">Armani</p>
              <div class="price_star">
                <p class="price">53-100$</p>
                <del class="price_discount">153-180$</del>
                <a><button>Elave</button></a>
              </div>
            </div>
            <div class="discount hide hidden">
              <img
                src="../assets/images/NewProduct/ProductImage.jpg"
                alt="productImage"
              />
              <div class="dis">20%</div>

              <p class="def">Our Creation of Vendetta's Ambre Nuit</p>
              <p class="cat">Armani</p>
              <div class="price_star">
                <p class="price">53-100$</p>
                <del class="price_discount">153-180$</del>
                <a><button>Elave</button></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="testing">
        <div class="container testing_container">
          <div class="testing_common">
            <div class="testing_left">
              <img src="../assets/images/@Model.SettingHomePage?.ImageTester" />
            </div>
            <div class="testing_right">
              <h1>
                @Model.SettingHomePage?.DescriptionGift
              </h1>
              <a asp-action="index" asp-controller="tester"
                ><button>
                  Etrafli
                  <img src="../assets/icons/button/buttonsvg.svg" /></button
              ></a>
            </div>
          </div>
        </div>
      </div>

      <div class="comments">
        <div class="container comments_container">
          <h1>Musteri Memnuniyyeti</h1>
          <div class="slideshow-container">
           @foreach (var item in Model.FakeSlides)
           {
                <div class="mySlides fade">
              <div class="modal_comment">
                <img src="../assets/icons/comment/comment.svg" />
                <div class="modal_inner">
                  <div class="modal_top">
                    <div class="modal_top_left">
                      <img src="~/assets/images/@item.Image" />
                    </div>
                    <div class="modal_top_right">
                      <h3>@item.Name @item.Surname</h3>
                      <p>@item.City/@item.Country</p>
                    </div>
                  </div>
                  <p>
                   @item.Thoughts
                  </p>
                </div>
                <img class="end" src="../assets/icons/comment/comment.svg" />
              </div>
            </div>
           }
           
            <a class="prev" onclick="plusSlides(-1)">❮</a>
            <a class="next" onclick="plusSlides(1)">❯</a>
          </div>
        </div>
      </div>

      <div style="margin-bottom:40px" class="functions">
        <div class="container functions_container">
         @foreach (var item in Model.Functions)
         {
            <div class="function">
            <a href="@item.Link"><img src="~/assets/images/@item.Image"/></a>
            <h3>@item.Title</h3>
            <p>@item.Desc</p>
          </div>
          <div class="line"></div>  
         }
         
        </div>
      </div>


