@model IEnumerable<Parfum>

    <style>
      th:nth-child(7){
          display:none;
      }
    </style>
<div class="container">
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Ad</th>
                <th scope="col">Brandi</th>
                <th scope="col">Yeni</th>
                <th scope="col">Kohne</th>
                <th scope="col">Stok<th>
                <th scope="col">Stok</th>
                <th scope="col">Trend</th>
                <th scope="col">Trend</th>
                <th scope="col">Endirim</th>
                <th scope="col">Endirim</th>
                <th scope="col">Yenile</th>
                <th scope="col">Sil</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                    <tr>
                        <th scope="row">@item.Id</th>
                        <th>@item.Title</th>
                        <th>@item.Brand.Name</th>

                         <td><a onclick="if(!confirm('Are you sure?')){return false;}"
                         asp-controller="parfum" asp-action="isnew" asp-route-id="@item.Id"
                        class="delete-item" ><i class="fa-solid fa-check"></i></a></td>

                           <td><a onclick="if(!confirm('Are you sure?')){return false;}"
                         asp-controller="parfum" asp-action="isold" asp-route-id="@item.Id"
                        class="delete-item" ><i class="fa-solid fa-x"></i></a></td>

                           <td><a onclick="if(!confirm('Are you sure?')){return false;}"
                         asp-controller="parfum" asp-action="inStock" asp-route-id="@item.Id"
                        class="delete-item" ><i class="fa-solid fa-check"></i></a></td>

                              <td><a onclick="if(!confirm('Are you sure?')){return false;}"
                         asp-controller="parfum" asp-action="outofstock" asp-route-id="@item.Id"
                        class="delete-item" ><i class="fa-solid fa-x"></i></a></td>

                              <td><a onclick="if(!confirm('Are you sure?')){return false;}"
                         asp-controller="parfum" asp-action="istrend" asp-route-id="@item.Id"
                        class="delete-item" ><i class="fa-solid fa-check"></i></a></td>

                              <td><a onclick="if(!confirm('Are you sure?')){return false;}"
                         asp-controller="parfum" asp-action="outtrend" asp-route-id="@item.Id"
                        class="delete-item" ><i class="fa-solid fa-x"></i></a></td>

                              <td><a asp-controller="parfum" asp-action="discount" asp-route-id="@item.Id"
                        ><i class="fa-solid fa-check"></i></a></td>

                              <td><a onclick="if(!confirm('Are you sure?')){return false;}"
                         asp-controller="parfum" asp-action="outdiscount" asp-route-id="@item.Id"
                        class="delete-item" ><i class="fa-solid fa-x"></i></a></td>

                         <td><a asp-controller="parfum" asp-action="update" asp-route-id="@item.Id" >
                            <i class="fas fa-edit text text-primary"></i></a></td>

                        <td><a onclick="if(!confirm('Are you sure?')){return false;}"
                            asp-controller="parfum" asp-action="delete" asp-route-id="@item.Id"
                            class=" delete-item" ><i class="fas fa-trash text text-danger"></i></a></td>

                    </tr>
            }
        </tbody>
    </table>
        <nav aria-label="Page navigation example">
        <ul class="pagination">
            @for (int i = 1; i <= ViewBag.TotalPage; i++)
            {
                @if (i == ViewBag.CurrentPage)
                {
                    <li class="page-item disabled"><a  class=" page-link" asp-controller="Parfum" asp-action="index" asp-route-page="@i">@i</a></li>
                }
                else
                {
                    <li class="page-item"><a class=" page-link" asp-controller="Parfum" asp-action="index" asp-route-page="@i">@i</a></li>
                }
            }
        </ul>
    </nav>
    <div>
        <a asp-controller="Parfum" asp-action="create" style="display: block; text-decoration: none; color: white; width: 100%; height: 100%" a  > 
            <div style="width:100%; " class="btn btn-outline-success">Yarat</div></a>
    </div>
</div>