   
   @model ParfumeViewModel


      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
        @foreach (var item in Model.Slides)
        {
            if(item.Chooice=="Parfum"){
              <div class="swiper-slide">
            <img src="../assets/images/@item.Image" />
            <div class="info_par">
              <h1>@item.Title</h1>
              <p>@item.Desc</p>
            </div>
          </div>
        }
        }
       
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
      </div>
      <div class="parfumeCategory">
        <div class="container parfumeCategory_container">
          <div class="parfumeCategory_top">
            <div class="category" data-filter="all">
              <p id="all">All</p>
            </div>
         
            @foreach (var item in Model.Brands)
            {
            <div class="category" data-filter="@item.Name.ToLower()">
              <p id="@item.Name.ToLower()">@item.Name</p>
            </div>
           
            }
          </div>
        </div>
      </div>
      <div class="parfumes_index">
        <div class="container parfumes_index_container">
          <div class="newsellest">
            <div class="selles">
              <img
                src="../assets/images/NewProduct/ProductImage.jpg"
                alt="productImage"
              />
              <p class="def">Our Creation of Vendetta's Ambre Nuit</p>
              <p class="cat">Lancome</p>
              <div class="price_star">
                <p class="price">53-100$</p>
                <div class="stars">
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <img src="../assets/icons/NewProduct/star.svg" />
                </div>
              </div>
            </div>
            <div class="selles">
              <img
                src="../assets/images/NewProduct/ProductImage.jpg"
                alt="productImage"
              />
              <p class="def">Our Creation of Vendetta's Ambre Nuit</p>
              <p class="cat">Armani</p>
              <div class="price_star">
                <p class="price">53-100$</p>
                <div class="stars">
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <img src="../assets/icons/NewProduct/star.svg" />
                </div>
              </div>
            </div>
            <div class="selles">
              <img
                src="../assets/images/NewProduct/ProductImage.jpg"
                alt="productImage"
              />
              <p class="def">Our Creation of Vendetta's Ambre Nuit</p>
              <p class="cat">Dior</p>
              <div class="price_star">
                <p class="price">53-100$</p>
                <div class="stars">
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <img src="../assets/icons/NewProduct/star.svg" />
                </div>
              </div>
            </div>
            <div class="selles">
              <img
                src="../assets/images/NewProduct/ProductImage.jpg"
                alt="productImage"
              />
              <p class="def">Our Creation of Vendetta's Ambre Nuit</p>
              <p class="cat">Lancome</p>
              <div class="price_star">
                <p class="price">53-100$</p>
                <div class="stars">
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <img src="../assets/icons/NewProduct/star.svg" />
                </div>
              </div>
            </div>
            <div class="selles">
              <img
                src="../assets/images/NewProduct/ProductImage.jpg"
                alt="productImage"
              />
              <p class="def">Our Creation of Vendetta's Ambre Nuit</p>
              <p class="cat">Dior</p>
              <div class="price_star">
                <p class="price">53-100$</p>
                <div class="stars">
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <img src="../assets/icons/NewProduct/star.svg" />
                </div>
              </div>
            </div>
            <div class="selles">
              <img
                src="../assets/images/NewProduct/ProductImage.jpg"
                alt="productImage"
              />
              <p class="def">Our Creation of Vendetta's Ambre Nuit</p>
              <p class="cat">Dior</p>
              <div class="price_star">
                <p class="price">53-100$</p>
                <div class="stars">
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <img src="../assets/icons/NewProduct/star.svg" />
                </div>
              </div>
            </div>
            <div class="selles">
              <img
                src="../assets/images/NewProduct/ProductImage.jpg"
                alt="productImage"
              />
              <p class="def">Our Creation of Vendetta's Ambre Nuit</p>
              <p class="cat">Lancome</p>
              <div class="price_star">
                <p class="price">53-100$</p>
                <div class="stars">
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <img src="../assets/icons/NewProduct/star.svg" />
                </div>
              </div>
            </div>
            <div class="selles">
              <img
                src="../assets/images/NewProduct/ProductImage.jpg"
                alt="productImage"
              />
              <p class="def">Our Creation of Vendetta's Ambre Nuit</p>
              <p class="cat">Chanel</p>
              <div class="price_star">
                <p class="price">53-100$</p>
                <div class="stars">
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <img src="../assets/icons/NewProduct/star.svg" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>