   @model ContactViewModel  


   @if (!string.IsNullOrWhiteSpace((string)TempData["ContactTrue"]))
{
    <div style="display:none" id="message">@TempData["ContactTrue"]</div>
}
@if (!string.IsNullOrWhiteSpace((string)TempData["ContactFalse"]))
{
    <div style="display:none" id="message">@TempData["ContactFalse"]</div>
}
@if (!string.IsNullOrWhiteSpace((string)TempData["EmailReg"]))
{
    <div style="display:none" id="message">@TempData["EmailReg"]</div>
}


      <div class="contact">
        <div class="container contact_container">
          <h1>Elaqe</h1>
          <div class="contact_common">
            <div class="contact_left">
              <h3>Sizə necə kömək edə bilərik?</h3>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque,
                veritatis?
              </p>
              <div class="option">
                <img src="../assets/icons/contact/Location.svg" />
                <div class="parag">
                  <p>Cavadxan 32/15</p>
                  <p>Azerbaycan/Baki</p>
                </div>
              </div>
              <div class="option">
                <img src="../assets/icons/contact/Call.svg" />
                <div class="parag">
                  <p>0554085255</p>
                  <p>0554085255</p>
                </div>
              </div>
              <div class="option">
                <img src="../assets/icons/contact/Location.svg" />
                <p>info.parfume@mail.ru</p>
              </div>
              <div class="socials">
                <a
                  href="https://yandex.ru/search/?text=font+awesome+cdn+5&clid=2411726&lr=10253"
                >
                  <div class="social">
                    <img src="../assets/icons/footer/instagram.svg" /></div
                ></a>

                <a
                  href="https://yandex.ru/search/?text=font+awesome+cdn+5&clid=2411726&lr=10253"
                >
                  <div class="social">
                    <img src="../assets/icons/footer/facebook.svg" /></div
                ></a>
                <a
                  href="https://yandex.ru/search/?text=font+awesome+cdn+5&clid=2411726&lr=10253"
                >
                  <div class="social">
                    <img src="../assets/icons/footer/twitter.svg" /></div
                ></a>
                <a
                  href="https://yandex.ru/search/?text=font+awesome+cdn+5&clid=2411726&lr=10253"
                >
                  <div class="social">
                    <img src="../assets/icons/footer/youtube.svg" /></div
                ></a>
              </div>
            </div>
            <div class="contact_right">
      
                <form
                asp-action="sendmessage"
                asp-controller="contact"
                method="post"
                enctype="multipart/form-data"
              >
               
            
								
								<input name="name" type="text" class="form-control contact_input"   placeholder="Ad/Soyad">
								<span class="text text-danger" asp-validation-for="@Model.Messages.Name"></span>
							
								<input name="email" type="email" class="form-control contact_input"  placeholder="Email Adresiniz">
								<span class="text text-danger" asp-validation-for="@Model.Messages.Email"></span>
								
								<input name="subject" class="form-control contact_input"  placeholder="Mövzu Başlığınız">
								<span class="text text-danger" asp-validation-for="@Model.Messages.Subject"></span>
							
						        <textarea  name="message"  rows="4" cols="40" placeholder="Mövzu" class="contact_input form-control"  ></textarea>
								<span class="text text-danger" asp-validation-for="@Model.Messages.Message"></span>
						
                <button class="addtobasket">Gonder</button>
              </form>
          
            </div>
          </div>
        </div>
      </div>
      <div class="location">
        <div class="container location_container">
          <h1>Satish Menteqesi</h1>
          <div class="locations">
          @foreach (var item in Model.Places)
          {
                <div class="locationPage">
              <div class="locationPage_left">
                <img src="../assets/images/@item.Image" alt="" />
              </div>
              <div class="locationPage_right">
                <h3>@item.Title</h3>
                <div class="common">
                  <div class="option">
                    <img src="../assets/icons/contact/Location.svg" />

                    <p>@item.Address</p>
                  </div>
                  <div class="option">
                    <img src="../assets/icons/contact/Location.svg" />

                    <p>@item.Phone1</p>
                  </div>
                  <div class="option">
                    <img src="../assets/icons/contact/Location.svg" />

                    <p>@item.Phone2</p>
                  </div>
                  <a href="@item.Location"><button class="addtobasket">Xeritede bax</button></a>
                </div>
              </div>
            </div>
          }
           
          </div>
        </div>
      </div>


      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    const Message = document.getElementById("message");
    if (Message != undefined) {
        const message = Message.innerHTML;
        if (message != "") {
            Swal.fire(`${message}`)
        }

    }</script>