@model Basket

@{
	int totalPrice = 0;

}

<div class="basket">
	<div class="container basket_container">
		<div class="basketCommon">
			@foreach (var item in Model.basketItems)
			{
				<div class="basket basketOrder" id="@item.Id">
					<div class="basketInner">
						<div class="basketInner_left">
							<img src="~/assets/images/@item.Product.Image" />
							<div class="basketInner_left_right">
								<h3>@item.Product.Title</h3>

								@if (item.Product.Category.Name=="Parfum"||item.Product.Category.Name=="Tester")
								{
									<p>Hecmi : @item.Product.Volume ML</p>
								}
								<p>Sayı : @item.ProductCount</p>
							</div>
						</div>
						<div class="basketInner_right">
							@if (item.Product.IsDiscount == true)
							{
								<h1>@(int.Parse(item.Product.SellPrice)-int.Parse(item.Product.SellPrice)*item.Product.DiscountPercentage/100) AZN</h1>
							}
							else
							{
								<h1>@item.Product.SellPrice AZN</h1>
							}

							<a class="removebas" asp-action="RemoveBasket" asp-controller="home" asp-route-id="@item.ProductId">
								<img src="~/assets/icons/tester/rubish.svg" />
							</a>
						</div>
					</div>
				</div>
			}

		</div>
		<div class="money">
			<h3>Səbətdəki məhsullar</h3>
			<hr />
			@foreach (var item in Model.basketItems)
			{
				{
					if (item.Product.DiscountPercentage == 0 || item.Product.DiscountPercentage == null)
					{
						totalPrice += (int.Parse(item.Product.SellPrice)) * item.ProductCount;
					}
					else
					{
						totalPrice += ((int.Parse(item.Product.SellPrice)) - (int.Parse(item.Product.SellPrice) * (int)item.Product.DiscountPercentage / 100)) * item.ProductCount;

					}

				}
				<div class="price_name">
					<p>@item.Product.Title</p>

					@if (item.Product.IsDiscount == true)
					{
						<span>@(item.ProductCount * (int.Parse(item.Product.SellPrice)-int.Parse(item.Product.SellPrice)*item.Product.DiscountPercentage/100)) AZN</span>
					}
					else
					{
						<span> @(item.ProductCount * int.Parse(item.Product.SellPrice)) AZN</span>
					}
				</div>


				<hr />
			}

			<div class="total_price_basket">
				<h5>Toplam:</h5>
				<span>@totalPrice AZN</span>
			</div>


			@if (User.Identity.IsAuthenticated && User.IsInRole("User"))
			{
				<a asp-action="index" asp-controller="legacy"><button class="addtobasket">Rəsmiləşdir</button></a>

			}
			else
			{
				<a asp-action="login" asp-controller="account"><button class="addtobasket">Rəsmiləşdir</button></a>

			}
		</div>
	</div>
</div>



@*<script>
$(document).ready(function () {
    $(document).on('click', '.removebas', function () {
        var id = $(this).data('id');
        console.log("hello", id);

        $.ajax({
            method: 'POST',
            url: "@Url.Action("RemoveBasket","Home")",
            data: {
                id: id
            },
            success: function (res) {
                Swal.fire({
                    icon: 'success',
                    title: 'Məhsul silindi',
                    showConfirmButton: false,
                    timer: 1500
                });

                $(`.basketOrder[id=${id}]`).remove();

             
            }
        });
    });

 
});
</script>
*@