@if (!string.IsNullOrWhiteSpace((string)TempData["EmailRegex"]))
{
    <div style="display:none" id="message">@TempData["EmailRegex"]</div>
}

@if (!string.IsNullOrWhiteSpace((string)TempData["EmailNull"]))
{
    <div style="display:none" id="message">@TempData["EmailNull"]</div>
}

@if (!string.IsNullOrWhiteSpace((string)TempData["EmailRepeat"]))
{
    <div style="display:none" id="message">@TempData["EmailRepeat"]</div>
}

@if (!string.IsNullOrWhiteSpace((string)TempData["Subs"]))
{
    <div style="display:none" id="message">@TempData["Subs"]</div>
}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      bordertps://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
    />

      <link rel="stylesheet" href="~/assets/css/style.css">
 
    <title>Document</title>
 
  </head>
  <body>
    <div class="root">
      <header class="navbar">
        <div class="navbar_container">
          <div class="navbar_top">
            <div class="navbar_left">
              <div class="navbar_menu">
                <a>
                  <img
                    src="../assets/icons/header/Sidebar.svg"
                    id="sidebarDelete"
                    class="hideImage"
                    style="margin-top: 6px"
                  />
                  <img
                    src="../assets/icons/header/Burger.svg"
                    id="burger"
                    class="addimage"
                  />
                </a>

                <a class="hide" id="menu">Menu</a>
                <a asp-controller="home" asp-action="index">
                  <img class="hidden" src="../assets/icons/header/Logo.svg"
                /></a>
              </div>
            </div>
            <div class="navbar_middle">
              <a asp-controller="home" asp-action="index"> <img src="../assets/icons/header/Logo.svg" /></a>
            </div>
             <div class="navbar_right">
              <div class="navbar_icons">
                <a>
                  @if (User.Identity.IsAuthenticated&&User.IsInRole("User")) {
                  <a
                    style="color: white"
                    asp-controller="account"
                    asp-action="info"
                    ><span>@User.Identity.Name</span></a
                  >
                  <a
                    style="color: white"
                    asp-controller="account"
                    asp-action="logout"
                    ><span>LogOut</span></a
                  >
                  } else {
                  <a
                    style="color: white"
                    asp-controller="account"
                    asp-action="login"
                    ><img src="../assets/icons/header/User.svg" /><span
                      >Login</span
                    ></a
                  >
                  <a
                    style="color: white"
                    asp-controller="account"
                    asp-action="register"
                    ><img src="../assets/icons/header/User.svg" /><span
                      >Register</span
                    ></a
                  >
                  }</a
                >
                <a asp-controller="basket" asp-action="index">
                  <img src="../assets/icons/header/Cart.svg"
                /></a>
              </div>
            </div>
          </div>
          <div class="hideDiv navbar_bottom">
            <a asp-controller="about" asp-action="index"><h1 class="visible">Haqqimizda</h1></a>
            <a asp-controller="parfume" asp-action="index"><h1 class="visible">Qoxular</h1></a>
            <a asp-controller="smoke" asp-action="index"><h1 class="visible">Tustuler</h1></a>
            <a asp-controller="giftbox" asp-action="index"><h1 class="visible">Hediyye Qutusu</h1></a>
            <a asp-controller="tester" asp-action="index"><h1 class="visible">Test Qutusu</h1></a>
            <a asp-controller="contact" asp-action="index"><h1 class="visible">Elaqe</h1></a>
          </div>
        </div>
      </header>

        
            @RenderBody()
       
      <footer style="margin-top:0">
        <div class="container footer_container">
          <div class="column">
            <a><h3>Qoxular</h3></a>
            <p>Oz Mehsullarimiz</p>
            <p>Yaglar</p>
            <p class="hidden_last">Beden spreyi</p>
            <p class="hidden_last">Etirler</p>
            <p class="hidden_last">Duxiler</p>
          </div>
          <div class="column">
            <a> <h3>Tustuler</h3></a>
            <p>Oz Mehsullarimiz</p>
            <p>Yaglar</p>
            <p class="hidden_last">Beden spreyi</p>
            <p class="hidden_last">Etirler</p>
            <p class="hidden_last">Duxiler</p>
          </div>
          <div class="column responsive_last">
            <a><h3>Haqqimizda</h3></a>
            <p>Oz Mehsullarimiz</p>
            <p>Beden spreyi</p>
          </div>
          <div class="column responsive responsive_last">
            <a> <h3>Qutular</h3></a>
            <p>Oz Mehsullarimiz</p>
            <p>Yaglar</p>
          </div>
          <div class="column_last responsive">
            <h1>Abune ol</h1>
            <div class="input_button">

         <form asp-action="subscribe" asp-controller="home" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate>
                               
          <input type="email" value="" name="EMAIL" class="email" placeholder="Email:" required>
                   
           <button itype="submit" name="subscribe"><span>Abune Ol</span></button> 
                              
          </form>
             
            </div>
            <div class="socials">
              <a
                href="https://yandex.ru/search/?text=font+awesome+cdn+5&clid=2411726&lr=10253"
              >
                <div class="social">
                  <img src="../assets/icons/footer/instagram.svg" /></div
              ></a>

              <a
                href="https://yandex.ru/search/?text=font+awesome+cdn+5&clid=2411726&lr=10253"
              >
                <div class="social">
                  <img src="../assets/icons/footer/facebook.svg" /></div
              ></a>
              <a
                href="https://yandex.ru/search/?text=font+awesome+cdn+5&clid=2411726&lr=10253"
              >
                <div class="social">
                  <img src="../assets/icons/footer/twitter.svg" /></div
              ></a>
              <a
                href="https://yandex.ru/search/?text=font+awesome+cdn+5&clid=2411726&lr=10253"
              >
                <div class="social">
                  <img src="../assets/icons/footer/youtube.svg" /></div
              ></a>
            </div>
          </div>
        </div>
      </footer>

    </div>

    <script src="~/assets/js/index.js"></script>
    <script src="~/assets/js/indexp.js"></script>
    <script src="~/assets/js/detailp.js"></script>
    <script src="~/assets/js/detailt.js"></script>



    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script>
      var swiper = new Swiper(".mySwiper", {
        spaceBetween: 30,
        effect: "fade",
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
      });
    </script>
    <script>
      let slideIndex = 1;
      showSlides(slideIndex);

      function plusSlides(n) {
        showSlides((slideIndex += n));
      }

      function currentSlide(n) {
        showSlides((slideIndex = n));
      }

      function showSlides(n) {
        let i;
        let slides = document.getElementsByClassName("mySlides");
        let dots = document.getElementsByClassName("dot");
        if (n > slides.length) {
          slideIndex = 1;
        }
        if (n < 1) {
          slideIndex = slides.length;
        }
        for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
      }
    </script>


    @await RenderSectionAsync("Scripts", required: false)
  </body>
</html>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    const Message = document.getElementById("message");
    if (Message != undefined) {
        const message = Message.innerHTML;
        if (message != "") {
            Swal.fire(`${message}`)
        }

    }</script>
