   @model GiftBoxViewModel
   


      <div class="gift_intro">
        <div class="container gift_intro_container">
          <div class="gift_left">
            <h1>Xüsusi günlərin əvəzedilməzi!</h1>
            <p>
              Özəl günlər üçün xüsusi parfum qutusu almaq çox asan və yadda
              qalan olacaq...
            </p>
          </div>
          <div class="gift_right">
            <img src="../assets/images/NewProduct/ProductImage.jpg" />
            <img src="../assets/images/About/about2.jpg" />
          </div>
        </div>
      </div>
      <div class="giftboxes">
        <div class="container giftboxes_container">
          <div class="giftboxes_intro">
            <h1>Hediyye Qutulari</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Non
              soluta magnam enim expedita repellat officia magni sit quas
            </p>
            <p></p>
          </div>
         <div class="boxes">
          @foreach (var item in Model.GiftBoxes)
          {
               <div class="box">
              <img src="../assets/images/@item.Image" style="width:100%,height:50%" />
              <div class="box_info">
                <h1>@item.Title</h1>
                <p>@item.Price AZN</p>
              </div>
              <p>
                @item.Desc
              </p>
              <a><button class="addtobasket">Sebete at</button></a>
            </div>
           
          }

      
          </div>
    <nav aria-label="Page navigation example" style="margin-top:30px">

        <ul class="pagination">
            @for (int i = 1; i <= ViewBag.TotalPage; i++)
            {
                @if (i == ViewBag.CurrentPage)
                {
                    <li class="page-item disabled"><a  class=" page-link" asp-controller="giftBox" asp-action="index" asp-route-page="@i">@i</a></li>
                }
                else
                {
                    <li class="page-item"><a  class=" page-link" asp-controller="giftBox" asp-action="index" asp-route-page="@i">@i</a></li>
                }
            }
        </ul>
    </nav> 

        </div>
      </div>